body{
  background-color: #ffffff;
  background-color: black; 
  color: #ffffff; 
  font-family: Arial;  
}

.btn-grad {background-image: linear-gradient(90deg, rgb(253, 14, 62) 0%, #d313fa 50%, #0d34f3 100%);}
.btn-grad {
 margin: 10px;
 margin-right: 40px;
 padding: 15px 45px;
 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color: black;            
 border-radius: 10px;
 display: block;
 font-family: Arial;
 font-weight: 800;
}

.btn-grad:hover {
 background-position: right center;
 color: #ffffff;
 text-decoration: none;
 cursor: pointer;
 transform: translateY(-5px);
 box-shadow: 0 0 20px rgb(0, 0, 0)
}

.btn-grad:active{
 transform: translateY(3px);
}

.btn-grad-b {background-image: linear-gradient(90deg, #0d34f3 0%, #d313fa 50%, rgb(253, 14, 62) 100%);}
.btn-grad-b {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   border-radius: 10px;
   display: block;
   font-family: Arial;
   font-weight: 800;
 }

 .btn-grad-b:hover {
   background-position: right center;
   text-decoration: none;
   color: #ffffff;
   transform: translateY(-5px);
   box-shadow: 0 0 20px #000;
 }

 .btn-grad-b:active{
   transform: translateY(3px);
 }


h1{
  text-align: center;
font-family: Verdana;
margin-bottom: 100px;
  background-image: linear-gradient(90deg, rgb(253, 14, 62) 0%, #d313fa 50%, #0d34f3 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.inputLista{
  width: 3vw;
height: 5px;
background: #ff000000;
padding: 20px;
outline: none;
margin-top: 19px;
margin-left: 5px;
margin-right: 50px;
color: white;
font-family: Arial;
border-color: rgba(255, 255, 255, 0.418);
border-radius: 10px;
}

strong{
  background-image: linear-gradient(90deg, rgb(253, 14, 62) 0%, #d313fa 50%, #0d34f3 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

form label{
  font-family: Arial;
  font-size: xx-large;
  width: 35vw;
  height: 10vh;
  color: white;
}

input{
margin-bottom: 50px;
text-decoration: none;
}

.inputLista:hover{
border-color: #ffffff;
transition: ease all 1s;
}

.asd{
font-family: Arial;
font-size: 3em;
background-color: rgba(245, 245, 245, 0.561);
border-radius: 15px;
padding: 20px;
color: #807f7fc9;
text-decoration: none;
font-family: monospace;   
}

.asd:hover{
color: #000;
background-color: #ffffff;
transition: 1s ease all;
}